.container-form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    justify-content: flex-start;
    align-items: flex-start;
}

.c-input {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}

.inputs input {
    width: 300px;
    height: 30px;
}

label {
    text-align: left;
}

.inputs {
    width: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputs button {
    width: 100px;
    height: 30px;
}

.c-all {
    display: flex;
    flex-wrap: wrap;
}

.bilhete-card {
    border: 1px solid black;
}